body {
  margin: 0px;
  background-color: #fff;
  text-align: center;
  
}

.card {
  width: 100%;
  height: 80%;
}

.full-card{
  background-color: #F6F6F6;
  width: 25%;
  height: 550px;
  text-align: center;
  font-weight: bold;
  
  
  
}

.all-cards{
  width: 95vw ;
  display: flex;
  gap: 20px;
  margin: auto;
  

}